page-booking {

.deleteIcon{
position: absolute !important; color:#ffffff !important; margin-left:78% !important;
transform: rotate(45deg);
}
.deleteIcon:before{
    font-size:20px !important;
}
.releative{
    position: relative;
    width: 75px;
}


}
