<ion-header>

  <ion-navbar color="orange">
    <ion-title>Profile</ion-title>
    <button ion-button menuToggle left>
    <ion-icon name="menu"></ion-icon>
  </button>
  
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="container-fluid bg-1 text-center">

    <img src= {{userProfile.url}}
      class="img-responsive img margin" style="display:inline" alt="hinhanh">

    <h3> {{userProfile.name}}
      <ion-icon name="camera" (click)="getpic()"></ion-icon>
    </h3>

  </div>

  <div class="ba-doan-cuoi">
    <div id="cuoi-2">
      <ion-grid>

        <ion-row>
          <ion-col col-5>
            Email:
          </ion-col>
          <ion-col col-6 *ngIf="userProfile?.email">
            {{userProfile.email}}
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-5>
            Số điện thoại:
          </ion-col>
          <ion-col col-6 *ngIf="userProfile?.phonenumber">
            {{userProfile.phonenumber}}
          </ion-col>

        </ion-row>

        <div id="cuoi-3">
          <ion-row>

            <button ion-button color="orange" (click)="editprofile()"> Cap nhat  </button>


            <button ion-button color="orange" (click)="changepassword()"> Doi mat khau  </button>



          </ion-row>
        </div>
      </ion-grid>
    </div>
  </div>
</ion-content>